# dependencies
/node_modules
/ui/node_modules
/server/node_modules

# compiled output
/dist
/ui/dist
/server/dist
/tmp
/out-tsc

# IDE
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
*.md

# System Files
.DS_Store
Thumbs.db

# Package Files
package-lock.json
yarn.lock
